# Name: TrakEM2_

# Morphological data mining and 3D modeling
# Institute of Neuroinformatics, University of Zurich/ ETH, Zurich, Switzerland

# Author: Albert Cardona and Rodney Douglas
# Version: 2 0.2b
# Date: 2006/05/12
# Requires: ImageJ 1.37g

Plugins>TrakEM2, "New Project (blank)", ini.trakem2.New_Project("blank")
Plugins>TrakEM2, "New Project (from template)", ini.trakem2.New_Project
#Plugins>TrakEM2, "New DB Project", ini.trakem2.New_DB_Project
Plugins>TrakEM2, "Open Project",  ini.trakem2.Open_Project
#Plugins>TrakEM2, "Open DB Project",  ini.trakem2.Open_DB_Project
Help>About Plugins, "About TrakEM2...", ini.trakem2.utils.Utils
File>Import, "Amira as TrakEM2 ...", ini.trakem2.New_Project("amira")
