###
# #%L
# TrakEM2 plugin for ImageJ.
# %%
# Copyright (C) 2005 - 2024 Albert Cardona, Stephan Saalfeld and others.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: TrakEM2_

# Morphological data mining and 3D modeling
# Institute of Neuroinformatics, University of Zurich/ ETH, Zurich, Switzerland

# Author: Albert Cardona and Rodney Douglas
# Version: 2 0.5n
# Date: 2008/03/07
# Requires: ImageJ 1.38v

File>New, "TrakEM2 (blank)", ini.trakem2.New_Project("blank")
File>New, "TrakEM2 (from template)", ini.trakem2.New_Project
File>Import, "TrakEM2 XML...", ini.trakem2.Open_Project
File>Import, "Amira as TrakEM2...", ini.trakem2.New_Project("amira")
Help>About Plugins, "About TrakEM2...", ini.trakem2.utils.Utils

# Lens distortion correction using SIFT

Plugins>Transform, "Distortion Correction", lenscorrection.Distortion_Correction
